<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Car Dealz</title>
</head>
<body class="m-3 bg-secondary bg-opacity-25">
    <header>
        <div class="d-flex justify-content-between">
            <h1>Put Car Up For Sale</h1>
            <div>
                <a class="btn btn-secondary" href="/dashboard">Dashboard</a>
                <a class="btn btn-secondary m-2" href="/logout">Logout</a>
            </div>
        </div>
    </header>
    <div class="messages">
        {% with messages = get_flashed_messages(category_filter=['car']) %}
            {% if messages %}
            {% for message in messages %}
            <p class="error">{{message}}</p> 
            {% endfor %}
            {% endif %}
            {% endwith %}
    </div>
    <main>
        
        <form action="/saveCar" method="post" class="flex-container">
            <div class="half-width">
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input class="form-control" type="number" name="price" id="">
                </div>
                <div class="form-group">
                    <label for="model">Model:</label>
                    <input class="form-control" type="text" name="model" id="">
                </div>
                <div class="form-group">
                    <label for="make">Make:</label>
                    <input class="form-control" type="text" name="make" id="">
                </div>
                <div class="form-group">
                    <label for="year">Year:</label>
                    <input class="form-control" type="number" name="year" id="">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label><br>
                    <input type="text" class="form-control" name="description" id="" cols="30" rows="10"></input>
                </div>
            </div>
            <input type="hidden" name="user_id" value="{{logged_in_user.id}}">
            <div class="form-group">
                <input type="submit" class=" btn-lg btn-secondary m-2" value="Add">
            </div>
        </form>
        
    </main>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>